/FYP.Java.Server/EnterpriseAccount/nbproject/private/
/FYP.Java.Server/SavingsAccount/nbproject/private/
/FYP.Java.Server/SavingsAccountClient/nbproject/private/
/FYP.Java.Server/SavingsJavaLibrary/nbproject/private/
/FYP.Java.Server/SavingsJavaLibrary/build/
/FYP.Java.Server/SavingsJavaLibrary/dist/
/FYP.Java.Server/EnterpriseAccount/build/
/FYP.Java.Server/SavingsAccount/dist/
/FYP.Java.Server/SavingsAccountClient/build/
/FYP.Java.Server/SavingsAccountClient/dist/